<h1 align='center' style='color:purple'><b>Sentiment Analysis</b></h1>

In [31]:
import pandas as pd

<b>Load data </b>

In [32]:
df = pd.read_csv("train_tweet.csv")

<b> First 10 tweets </b>

In [33]:
df.iloc[:10,:]

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr...

<b> Remove Re-tweets </b>

In [34]:
# Remove Re-tweets
df = df[df['tweet'].str.contains("RT")==False]

<b> Reset Index </b>

In [35]:
# Reset index as there are some irregularities in index after removal of some rows
df = df.reset_index().drop('index' ,axis = 1)

<b> Remove Links as they dont represent sentiment </b>

In [36]:
# Use Regex Library to find the pattern "http" followed any length of sting or number with white space and replace with "".
import re

# Keep df as backup, number of request you make from API is limited.
df1 = df.copy()
df1.tweet = df.tweet.apply(lambda x : re.sub(r"http\S+", "", x))

<b> Remove '/n' wish represents line breaks </b>

In [37]:
df1.tweet = df1.tweet.apply(lambda x : x.replace('\n\n',' '))
df1.tweet = df1.tweet.apply(lambda x : x.replace('\n \n',' '))

df1["tweet"] = df["tweet"].map(lambda x: str(x).replace('@user',''))
df1["tweet"]

0          when a father is dysfunctional and is so sel...
1          thanks for #lyft credit i can't use cause th...
2                                      bihday your majesty
3        #model   i love u take with u all the time in ...
4                   factsguide: society now    #motivation
                               ...
31957    ate  isz that youuu?ððððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960     #sikh #temple vandalised in in #calgary, #wso...
31961                          thank you  for you follow
Name: tweet, Length: 31962, dtype: object

<b> TextBlob </b>  
[TextBlob](https://textblob.readthedocs.io/en/dev/) is a Python (2 and 3) library for processing textual data. It provides a simple API for diving into common natural language processing (NLP) tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, translation, and more.

<b> Install Textblob </b>

In [38]:
!pip install textblob

Requirement already satisfied: textblob in /home/amol/Amol/Python/venv/lib/python3.8/site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /home/amol/Amol/Python/venv/lib/python3.8/site-packages (from textblob) (3.6.2)
Requirement already satisfied: click in /home/amol/Amol/Python/venv/lib/python3.8/site-packages (from nltk>=3.1->textblob) (8.0.0)
Requirement already satisfied: regex in /home/amol/Amol/Python/venv/lib/python3.8/site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: joblib in /home/amol/Amol/Python/venv/lib/python3.8/site-packages (from nltk>=3.1->textblob) (1.0.0)
Requirement already satisfied: tqdm in /home/amol/Amol/Python/venv/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.56.0)

<b> Import Textblob and get tweet sentiment score and save it in 'sentimen' column of df1 </b>

In [39]:
from textblob import TextBlob
df1['sentiment'] = df1['tweet'].apply(lambda x: TextBlob(x).sentiment)
df1

,id,label,tweet,sentiment
0,1,0,when a father is dysfunctional and is so sel...,"(-0.5, 1.0)"
1,2,0,thanks for #lyft credit i can't use cause th...,"(0.2, 0.2)"
2,3,0,bihday your majesty,"(0.0, 0.0)"
3,4,0,#model i love u take with u all the time in ...,"(0.9765625, 0.6)"
4,5,0,factsguide: society now #motivation,"(0.0, 0.0)"
...,...,...,...,...
31957,31958,0,ate isz that youuu?ððððððð...,"(0.0, 0.0)"
31958,31959,0,to see nina turner on the airwaves trying to...,"(0.4, 0.5)"
31959,31960,0,listening to sad songs on a monday morning otw...,"(-0.5, 1.0)"
31960,31961,1,"#sikh #temple vandalised in in #calgary, #wso...","(0.0, 0.0)"
31961,31962,0,thank you for you follow,"(0.0, 0.0)"

The .sentiment attribute returns 2 things :  
 - sentiment [-1,1] : 0 means neutral, <0 means negative and >0 means positive sentiment
 - Subjectiveness : tell if the topic being mentioned in the tweet is an opinion or fact.
 
Since we have to check tweet's sentiment, we will use the sentiment score and classify it as positive, negative or neutral using a nested if-else statement.

In [40]:
df1.sentiment = df1.sentiment.apply(lambda x : "Positive" if x[0] > 0 else ("Negative" if x[0] < 0 else "Neutral"))
df1

,id,label,tweet,sentiment
0,1,0,when a father is dysfunctional and is so sel...,Negative
1,2,0,thanks for #lyft credit i can't use cause th...,Positive
2,3,0,bihday your majesty,Neutral
3,4,0,#model i love u take with u all the time in ...,Positive
4,5,0,factsguide: society now #motivation,Neutral
...,...,...,...,...
31957,31958,0,ate isz that youuu?ððððððð...,Neutral
31958,31959,0,to see nina turner on the airwaves trying to...,Positive
31959,31960,0,listening to sad songs on a monday morning otw...,Negative
31960,31961,1,"#sikh #temple vandalised in in #calgary, #wso...",Neutral
31961,31962,0,thank you for you follow,Neutral